
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

.leaflet-popup-content-wrapper,
.leaflet-popup-tip{
  background-color: red;
  color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

#__next{
  height: 100%;
  background-color: #e2e2e2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img{display: block;}
input{outline: 2px solid #ddd;}
nav{height: 50px;}

.flex{display: flex;}
.ai-center{align-items: center;}
.flex-col{display: flex;flex-direction:column;}
.h100{height:100%}

.text-left{text-align: left;}
.text-center{text-align: center;}

.center{text-align: center;}
.white{color: #fff;}
.title1{
    font-family: Geomanist,sans-serif;
    font-size: 56px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 67px;
    white-space: pre-wrap;
}

.base-button{
    text-align: center;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}
.base-button.blue {
    border: none;
    background-color: #19255b;
    color: #fff;
}
.base-button.green {
    border: none;
    background-color: #46ad48;
    color: #fff;
}
.button-content{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.bg-image{
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.cover{
    width: 100%;
    display: table;
    padding: 16px;
}

div.leaflet-marker-icon.div-icon{
  margin-left: -25px!important;
  text-align: center;
  border-radius: 12px;
  width: auto!important;
  min-width: 40px!important;
  height: auto!important;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 6px;
  -webkit-box-shadow: 1px 1px 8px 0px #000000; 
  box-shadow: 1px 1px 8px 0px #000000;
}

div.leaflet-marker-icon.div-icon.div-icon-selected{
  background: #222;
  color: #fff;
}