

.leaflet-popup-content-wrapper,
.leaflet-popup-tip{
  background-color: red;
  color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
}

#__next{
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input{outline: 2px solid #ddd;}
nav{height: 50px;}

.flex{display: flex;}
.flex-col{display: flex;flex-direction:column;}
.h100{height:100%}

.text-left{text-align: left;}
.text-center{text-align: center;}


div.leaflet-marker-icon.div-icon{
  margin-left: -25px!important;
  text-align: center;
  border-radius: 12px;
  width: auto!important;
  min-width: 40px!important;
  height: auto!important;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 6px;
  -webkit-box-shadow: 1px 1px 8px 0px #000000; 
  box-shadow: 1px 1px 8px 0px #000000;
}

div.leaflet-marker-icon.div-icon.div-icon-selected{
  background: #222;
  color: #fff;
}